<!DOCTYPE html>
<html>
  <head>
    <title>Todo List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= greeting %></h1>
    <ul>
      <% tasks.forEach(function(task){ %>
      <li><%= task.todo_task %></li>
      <li><%= task.priority %></li>
      <%  }) %>
    </ul>

    <p class="task_title"><%=  %></p>
  </body>
</html>
